<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/Inicio']">RedLab</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!--Modulo Avisos-->
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/moduloAvisos']"
            routerLinkActive="active"
            >Avisos</a
          >
          <!--Modulo Caja-->
        </li>

        <li ngbDropdown class="d-inline-block nav-item">
          <button
            class="btn btn-outline-primary nav-link"
            id="dropdownBasic1"
            ngbDropdownToggle
            [routerLink]="['/moduloCaja']"
          >
            Caja
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Control Caja</button>
            <button ngbDropdownItem>Control Impresiones</button>
          </div>
        </li>
        <!--Modulo Llaves-->
        <li ngbDropdown class="d-inline-block nav-item">
          <button
            class="btn btn-outline-primary nav-link"
            id="dropdownBasic1"
            ngbDropdownToggle
            [routerLink]="['/moduloLlaves']"
          >
            Llaves
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Laboratorio</button>
            <button ngbDropdownItem>Usabilidad</button>
            <button ngbDropdownItem>Rack</button>
          </div>
        </li>
        <!--Modulo Documentos-->
        <li ngbDropdown class="d-inline-block nav-item">
          <button
            class="btn btn-outline-primary nav-link"
            id="dropdownBasic1"
            ngbDropdownToggle
            [routerLink]="['/moduloDocumentos']"
          >
            Documentos
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Manuales</button>
            <button ngbDropdownItem>Tutoriales</button>
            <button ngbDropdownItem>Contraseñas</button>
          </div>
        </li>
        <!--Modulo Horarios-->
        <li ngbDropdown class="d-inline-block nav-item">
          <button
            class="btn btn-outline-primary nav-link"
            id="dropdownBasic1"
            ngbDropdownToggle
            [routerLink]="['/moduloHorarios']"
          >
            Horarios
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Ayudantes</button>
            <button ngbDropdownItem>Laboratorios</button>
            <button ngbDropdownItem>Salas</button>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
